{% extends "base.html" %}
{% block content %}
    {% for post in object_list %}
        <div class="mainContent">
            <div class="content">
                <article class="typicalArticle">
                    <header>
                        <h3><a href="/blog/{{ post.id }}" title="Latest post">{{ post.title }}</a></h3>
                    </header>

                    <footer>
                        <p class="postInfo">Posted on {{ post.date|date:"Y-m-d" }}</p>
                    </footer>

                    <content>
                        <p>{{ post.body }}</p>
                    </content>

                </article>
            </div>
        </div>
    {% endfor %}
{% endblock %}