{% extends "base.html" %}

{% block siderbar %}
<aside class="sideInfo">
    <article>
        <h3>{{ sidebar_title }}</h3>

        {% for tutorial in tutorials_list %}
            <ul>
            {% if current_tutorial == tutorial|lower %}
                 <div style="color:#FF0000">
                    <li>{{ tutorial.name }}
                </div>
            {% else %}
                <li><a href="/videos/tutorials/{{ tutorial.name }}" title="Tutorials link">{{ tutorial.name }}</a>
            {% endif %}
                    <ul>
                         {% for tutorial_video in tutorial_videos_list %}
                            {% if tutorial_video.tutorial == tutorial %}
                                {% block current_video %}
                                     <li><a href="/videos/{{ tutorial_video.video.id }}" title="video link">{{ tutorial_video.video.title }}</a></li>
                                {% endblock %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        {% endfor %}
    </article>
</aside>
{% endblock %}

{% block content %}

{% endblock %}
