{% extends "videos/base_videos.html" %}

{% block content %}
{% for video in videos_list %}
        <div class="mainContent">
            <div class="content">
                <article class="typicalArticle">
                    <header>
                        <h3><a href="/videos/{{ video.id }}" title="video link">{{ video.title }}</a></h3>
                        <p>{{ video.description }}</p>
                    </header>
                </article>
            </div>
        </div>
    {% endfor %}
{% endblock %}