{% extends "base.html" %}

{% block siderbar %}
<aside class="sideInfo">
    <article>
        <h3>{{ sidebar_title }}</h3>

        {% for tutorial in tutorials_list %}
            <ul>
                <li><a href="/videos/tutorials/{{ tutorial.name }}" title="Tutorials link">{{ tutorial.name }}</a>
                    <ul>
                         {% for tutorial_video in tutorial_videos_list %}
                            {% if tutorial_video.tutorial == tutorial %}
                            <li><a href="/videos/{{ tutorial_video.video.id }}" title="video link">{{ tutorial_video.video.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        {% endfor %}
    </article>
</aside>
{% endblock %}

{% block content %}


{% for video in videos_list %}
        <div class="mainContent">
            <div class="content">
                <article class="typicalArticle">
                    <header>
                        <h3><a href="/videos/{{ video.id }}" title="video link">{{ video.title }}</a></h3>
                        <p>{{ video.description }}</p>
                    </header>

                 
                </article>
            </div>
        </div>
    {% endfor %}
{% endblock %}