{% extends "base.html" %}

{% block siderbar %}
<aside class="sideInfo">
    <article>
        <h3>Recent News</h3>

        {% for video_type in video_list %}
            <ul>
                <li>{{ video_type.video_type }}
                </li>
            </ul>
        {% endfor %}

       <!--  {% for video in object_list %}
            <p><a href="/videos/{{ video.id }}"> {{ video.title }}</a></p>
        {% endfor %} -->

    </article>
</aside>
{% endblock %}

{% block content %}


{% for video in object_list %}
        <div class="mainContent">
            <div class="content">
                <article class="typicalArticle">
                    <header>
                        <h3><a href="/videos/{{ video.id }}" title="Latest post">{{ video.title }}</a></h3>
                        <p>{{ video.description }}</p>
                    </header>

                 
                </article>
            </div>
        </div>
    {% endfor %}
{% endblock %}