{% extends "videos/base_videos.html" %}

{% block content %}
{% for tutorial_video in tutorial_videos_list %}
        {% if tutorial_video.tutorial.name|lower == current_tutorial|lower %}
            <div class="mainContent">
                <div class="content">
                    <article class="typicalArticle">
                        <header>
                            <h3><a href="/videos/{{ tutorial_video.video.id }}" title="Latest post">{{ tutorial_video.video.title }}</a></h3>
                            <p>{{ tutorial_video.video.description }}</p>
                        </header>
                    </article>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}